<div id="forms" style="height:100vh; overflow-y: auto;">
    <div class="forms" style="display:none;">
        <div class="item-crd-lg">
          <app-personal-data></app-personal-data>
        </div>
      </div>
      <div class="forms" id="text" style="display:none;">
        <div class="item-crd-lg">
          <app-text></app-text>
        </div>
      </div>
      <div class="forms" id="certificates" style="display:none;">
        <div class="item-crd-lg">
          <app-certificates></app-certificates>
        </div>
      </div>
      <div class="forms" id="work-history" style="display:none;">
        <div class="item-crd-lg">
          <app-work-history></app-work-history>
        </div>
      </div>
      <div class="forms" id="education" style="display:block;">
        <div class="item-crd-lg">
          <app-education></app-education>
        </div>
      </div>
      <div class="forms" id="skills" style="display:none;">
      <div class="item-crd-lg">
        <app-skills></app-skills>
      </div>
    </div>
</div>