<div>
    <div class="crd-title">
        <h5>Dane osobowe</h5>
        <p class="sm-text">Zostaw puste pole, jeśli nie ma być wyświetlone</p>
    </div>
    <div>
        <button class="btn-2">
            <span><i class="fas fa-cog"></i> Ustawienia sekcji</span>
        </button>
    </div>
    <div class="sec-double">
        <div class="crd">
            <p class="sm-text">Imię</p>
            <input class="inpt" type="text">
            <i class="fas fa-check-circle field-ok"></i>
        </div>
        <div class="crd">
            <p class="sm-text">Drugie imię</p>
            <input class="inpt" type="text">
            <i class="fas fa-check-circle field-ok"></i>
        </div>
    </div>
    <div class="sec-double">
        <div class="crd">
            <p class="sm-text">Nazwisko</p>
            <input class="inpt" type="text">
            <i class="fas fa-check-circle field-ok"></i>
        </div>
        <div class="crd">
            <p class="sm-text">Tytuł zawodowy</p>
            <input class="inpt" type="text">
            <i class="fas fa-check-circle field-ok"></i>
        </div>
    </div>
    <div class="sec-single-file">
        <!-- <input type="file"> -->
        <button class="btn-photo-load">
            <img id="sadas" src="../../../../assets/images/anonymous.png" class="preview-photo" alt="test">
        </button>
        <p class="sm-text">Dodaj zdjęcie</p>
    </div>
    <div class="sec-double">
        <div class="crd">
            <p class="sm-text">Miejsce urodzenia</p>
            <input class="inpt" type="text">
            <i class="fas fa-check-circle field-ok"></i>
        </div>
        <div class="crd">
            <p class="sm-text">Data urodzin</p>
            <input class="inpt" type="date">
            <i class="fas fa-check-circle field-ok"></i>
        </div>
    </div>
</div>